{% extends 'price/base_visitor.html' %}
{% block albums_active %}active{% endblock %}
{% block body %}
{% load staticfiles %}
<br>

<div class="panel panel-default">
      <div class="panel-heading">Learn about our website:</div>
      <div class="panel-body"><p>Our website teaches you to invest in stocks.</p>
	  <p>Various courses and video tutorials are available on our website.</p>
	  <p>You can play virtual stock market game by which you can gain a good experience in stock market.</p>
	  </div>
    </div>
<br>
<div class="panel panel-default">
      <div class="panel-heading">Game Rules:</div>
      <div class="panel-body"><p>1. A user will be provided virtual cash of 50000(INR) after registering on our site.</p>
	  <p>2. You can only buy or sell stocks of the companies(NSE) provided by us.</p>
	  <p>Note:Limited companies are provided as it is only a game meant for learning purpose.</p>
		<p>3. You can make decisions based on analysing changing stock rates from the graph.</p>

	  </div>
    </div>
{% endblock %}