{% extends 'home/base.html' %}
{% block albums_active %}active{% endblock %}
{% block body %}
{% load staticfiles %}
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>

    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">

            <img src="{%  static 'welcome.jpg' %}" alt="cpg" class="img-responsive" style="width:1400px;height:500px;">
            
            </div>
        <div class="item">
            <img src="{%  static 'building.jpe' %}" alt="lol" class="img-responsive" style="width:1400px;height:500px;">
            <!--<div class="carousel-caption">
                <h3>New Offers are awaiting!!</h3>
            </div>-->
        </div>

    </div>

    <!-- Control arrows of image slider-->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


<div class="row middle">
    <div class="col-md-3 update">
        <p class="blogs"><a href="#">Blogs</a></p>
    </div>
    <div class="col-md-6 query">
        <p>For any queries feel free to contact us......</p>
    </div>
    <div class="col-md-3 update1">
        <p class="blog1"><a href="#">Customer Support</a></p>
    </div>
</div>


<div class="space"></div>
<p class="trend">Trending Places:</p>
<div class="container lined-images">
    <div class="row">
        <div class="col-md-4 sn-4">
            <div class="col-md-8">
                <img src="eiffel-tower.jpg" alt="eiffel-tower" class="img-responsive center-block">
                </div>
            <div class="col-md-4">
                <h5 class="title">Eiffel-Tower:</h5>
                <p class="small">Everyone who visits Paris for the first time probably has the same punchlist of...</p>
                <p class="al_right"><a href="#">More..</a></p>
            </div>
        </div>
        <div class="col-md-4 sn-4">
            <div class="col-md-8">
                <img src="bali.jpg" alt="bali" class="img-responsive center-block">
            </div>
            <div class="col-md-4">
                <h5 class="title">Bali:</h5>
                <p class="small">The Indonesian island of Bali is a favourite destination for both adventurers...</p>
                <p class="al_right"><a href="#">More..</a></p>
            </div>
        </div>
        <div class="col-md-4 sn-4">
            <div class="col-md-8">
                <img src="london.jpg" alt="london" class="img-responsive center-block">
            </div>
            <div class="col-md-4 ">
                <h5 class="title">London:</h5>
                <p class="small">There's so much to see and do in London, it's easy to be overwhelmed. Major... </p>
                <p class="al_right"><a href="#">More..</a></p>

            </div>
        </div>
    </div>
</div>

<div class="space"></div>
<div class="container head">
<div class="row">
    <div class="col-md-12">
        <h3>East Or West - India Is The Best !!!!</h3>
    </div>
    </div>
    </div>
<div class="space"></div>
<div class="container">
    <div class="row">
        <div class="col-md-3 sn-3 ma">
            <div class="thumbnail">
                <img src="swami lilashah.jpg" alt="swami_lilashah" class="img-responsive center-block" padding-top:20px>
                <div class="caption">
                    <h3>Swami Lilashah Samadhi Mandir</h3>
                    <p>Jai Ramji Ki !!!</p>
                    <button type="button" class="btn btn-default">Learn More</button>
                </div>
            </div>
        </div>
        <div class="col-md-3 sn-3">
            <div class="thumbnail">
                <img src="golden_temple.jpg" alt="golden_temple" class="img-responsive center-block">
                <div class="caption">
                    <h3>GoldenTemple</h3>
                    <p>Satnam Waheguruji !!!!</p>
                    <button type="button" class="btn btn-default">Learn More</button>
                </div>
            </div>
        </div>
        <div class="col-md-3 sn-3">
            <div class="thumbnail">
                <img src="vaishnodevi.jpg" alt="vaishnodevi" class="img-responsive center-block">
                <div class="caption">
                    <h3>Vaishnodevi Mandir</h3>
                    <p>Jai Mata Di !!!</p>
                    <button type="button" class="btn btn-default">Learn More</button>
                </div>
            </div>
        </div>
        <div class="col-md-3 sn-3 bala">
            <div class="thumbnail">
                <img src="balaji.jpg" alt="balaji" class="img-responsive center-block">
                <div class="caption">
                    <h3>Tirupati Balaji</h3>
                    <p>Jai Shri Krishna !!!</p>
                    <button type="button" class="btn btn-default">Learn More</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="space"></div>
<div class="container head">
    <div class="row">
        <div class="col-md-12">
            <h3>Travel Experiences :)</h3>
        </div>
    </div>
</div>

<div class="container lined-images">
    <div class="row">
        <div class="col-md-6 bottom">
            <h4 align="center">Swami Lilashah Aarti:</h4>
            <!--embedding video using bootstrap-->
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="460" height="200" src="https://www.youtube.com/embed/lzndqHovfbM" alt="aarti" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
		<div class="col-md-6 bottom">
            <h4 align="center">Vaishnodevi maa:</h4>
            <!--embedding video using bootstrap-->
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="460" height="150" src="https://www.youtube.com/embed/1JJJsh6Ge0M" alt="aarti" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

<div class="space"></div>
<div class="container head">
    <div class="row">
        <div class="col-md-12 why">
            <h3>Why Travel With Us When There Are So Many Around ?? <button type="button" class="btn btn-warning" align="right">Find out...</button> </h3>
        </div>
    </div>
</div>
<div class="space"></div>

    

{% endblock %}