{% extends 'price/base.html' %}
{% block albums_active %}active{% endblock %}
{% block body %}
<div class="panel panel-primary">
      <div class="panel-heading">Username: {{name}} </div>
      <div class="panel-body">
    
{% if e %}
	<p>You haven't done any transactions</p>
{% else %}
	
	<!--<div class="panel panel-default">
    <div class="panel-body">-->

	<h2>Portfolio Summary:</h2>
	 <table border="2">
	  <tr>
		<th>Company Name</th>
		<th>No of shares bought</th> 
		<th>No of shares sold</th>
		<th>Balance Shares</th>
		<th>Current Market Price</th>
		<th>Current Market Valuation</th>
		<th>Profit On Transaction</th>
		<th>Profit As Per Market Price</th>
	  </tr>
	{% for i in display %}
		<tr>
			<td>{{ i.c_name }}</td>
			<td>{{ i.bought_shares }}</td>
			<td>{{ i.sold_shares }}</td>
			<td>{{ i.bal_shares }}</td>
			<td>{{ i.current_market_price }}</td>
			<td>{{ i.market_evaluation }}</td>
			<td>{{ i.profit_on_transact }}</td>
			<td>{{ i.profit_on_current }}</td>
		</tr>
	{% endfor %}
	</table>
	
{% endif %}
<br>
<li>Virtual Cash Left: {{vc}}</li>
<li>Total profit on transactions: {{p}}</li>
<li>Total profit as per market price: {{net_profit}}</li>
</div>
</div>
{% endblock %}

